---
import { getCollection, getEntry, render } from "astro:content";

import type { InferGetStaticPropsType } from "astro";

import Markdown from "@/components/content/markdown.astro";
import Time from "@/components/primitives/time.astro";
import Layout from "@/layouts/layout.astro";
import type { MetadataConfig } from "@/lib/metadata";
import { Temporal } from "@js-temporal/polyfill";

export async function getStaticPaths() {
  const entries = await getCollection(
    "projects",
    ({ data }) => !(data.draft && import.meta.env.PROD),
  );

  return entries.map((entry) => ({
    props: { entry },
    params: { id: decodeURI(entry.id) },
  }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;

const [markdown, author] = await Promise.all([render(entry), getEntry(entry.data.author)]);

const { Content, remarkPluginFrontmatter: remark } = markdown;

// update the collection schema with plugin data
entry.data.updatedAt ??= Temporal.Instant.from(remark.updatedAt).toString();
entry.data.duration ??= remark.duration;
entry.data.words ??= remark.words;

const { title, description } = entry.data;

Astro.response.headers.set("netlify-cache-tag", entry.id);

const metadata = {
  title: title,
  description: description,
  medium: "article",
} satisfies MetadataConfig;
---

<Fragment>
  <Layout metadata={metadata}>
    <Fragment slot="metadata"> </Fragment>
    <Fragment>
      <h1 id="headline">{title}</h1>
      <Time datetime={entry.data.publishedAt} />
      <address>{author.data.email}</address>

      <Markdown>
        <Content frontmatter={entry.data} />
      </Markdown>
    </Fragment>
  </Layout>
</Fragment>
